.inputform_container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.inputform_container h1 {
  text-align: center;
}
/*
    css for input form ここから
    */
.inputform {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}

.inputform_dl {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightcyan;
}

.inputform_dl_dt {
  width: 30%;
  margin: 0px;
  padding: 2px;
  /*height: 45px;*/
  border-style: solid;
  border-color: white;
  background-color: #0070f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputform_dl_dt span {
  background-color: white;
  color: red;
  font-size: smaller;
}
.inputform_dl_dd {
  width: 70%;
  border-style: solid;
  border-color: white;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0px 1px 0px 1px;
}

.inputform_dl_dd_input {
  margin-top: 5px;
}
.inputform_dl_dd_p {
  margin: 0px;
  padding: 0px;
  color: red;
  font-size: smaller;
}

.submit_button_div {
  text-align: center;
}

.information {
  padding-left: 50px;
}
