.inputform_container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.inputform_container h1 {
  text-align: center;
}
/*
    css for input form ここから
    */
.inputform {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
}

.submit_button_div {
  text-align: center;
}
